/*-------------INICIO PRESENTACION-------------*/
body{
  background-color: rgb(46, 14, 65);
}

div.presentacion-container{
  background-color: rgb(97, 30, 135);
  width: 95%;
  margin: auto;
  top: 2%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  animation-name: presentacion-move;
  animation-duration: 2s;
  -webkit-box-shadow: 3px 6px 39px 0px rgba(173, 201, 61, 0.725);
  -moz-box-shadow: 3px 6px 39px 0px rgba(173, 201, 61, 0.725);
  box-shadow: 3px 6px 39px 0px rgba(173, 201, 61, 0.725);
  border-radius: 10%;
  transition: all 0.5s ease
}

div.presentacion-container:hover{
  -webkit-box-shadow: 3px 6px 69px 0px rgba(173, 201, 61, 0.93);
  -moz-box-shadow: 3px 6px 69px 0px rgba(173, 201, 61, 0.93);
  box-shadow: 3px 6px 69px 0px rgba(173, 201, 61, 0.93);
}

@keyframes presentacion-move {
  from{
    top: -100vh;
  }

  20%{
    background-color: rgb(163, 79, 212);
  }

  50%{
    background-color: rgb(139, 58, 186);
  }

  75%{
    background-color: rgb(118, 43, 162);
  }

  90%{
    background-color: rgb(97, 30, 135);
  }

  to{
    top: 2%;
  }
}

h1.presentacion-titulo{
  font-size: 3em;
  color: rgb(194, 194, 194);
  margin: auto;
  margin-top: 0.5%;
  animation-name: presentacion-titulo;
  animation-duration: 3s;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.639);
}

@keyframes presentacion-titulo {
  from{
    font-size: 1em;
  }

  to{
    font-size: 3em;
  }
}

.container-subtitulo {
  margin-bottom: 4em;
}

h2.presentacion-subtitulo{
  font-size: 1.3em;
  font-style: italic;
  color: rgb(200, 197, 197);
  margin: auto;
  margin-top: 1vh;
  animation-name: presentacion-subtitulo;
  animation-duration: 2s;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-shadow: 1px 1px 1px rgba(44, 44, 44, 0.537);
}

@keyframes presentacion-subtitulo {
  from{
    left: 200vh;
  }
  to{
    left: 0vh;
  }
  
}

.container-parrafo {
  padding-top: 1vh;
  padding-bottom: 7vh;
}

p.presentacion-parrafo{
  font-size: 1.5em;
  color: rgb(245, 247, 138);
  margin: auto;
  margin-top: 2em;
  animation-name: presentacion-parrafo;
  animation-duration: 4s;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-shadow: 1px 1px 1px rgba(192, 187, 55, 0.639);
}

@keyframes presentacion-parrafo {
  from{
    left: -100vh;
  }
  to{
    left: 0;
  }
}

.container-boton {
  margin-top: 25vh;
}

button.presentacion-boton{
  background-color: inherit;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  padding: 1em;
  font-size: 1.5em;
  cursor: pointer;
  animation-name: presentacion-boton;
  animation-duration: 4s;
}

@keyframes presentacion-boton {
  from{
    font-size: 0px;
  }
  to{
    font-size: 1.5em;
  }
}

button.presentacion-boton:hover{
  background-color: rgb(255, 255, 255);
  color: rgb(97, 30, 135);
}

/*-------------INICIO CONTACTO-------------*/

div.contacto {
  background-color: rgb(97, 30, 135);
  width: 95%;
  height: 43vh;
  margin: auto;
  top: 2%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  animation-name: Down-Up;
  animation-duration: 1.5s;
  -webkit-box-shadow: 3px 6px 39px 0px rgba(173, 201, 61, 0.725);
  -moz-box-shadow: 3px 6px 39px 0px rgba(173, 201, 61, 0.725);
  box-shadow: 3px 6px 39px 0px rgba(173, 201, 61, 0.725);
  border-radius: 10%;
  transition: all 0.5s ease
}

div.contacto:hover{
  -webkit-box-shadow: 3px 6px 69px 0px rgba(173, 201, 61, 0.93);
  -moz-box-shadow: 3px 6px 69px 0px rgba(173, 201, 61, 0.93);
  box-shadow: 3px 6px 69px 0px rgba(173, 201, 61, 0.93);
}

@keyframes Down-Up {
  from{
    top: 100vh;
  }

  20%{
    background-color: rgb(163, 79, 212);
  }

  50%{
    background-color: rgb(139, 58, 186);
  }

  75%{
    background-color: rgb(118, 43, 162);
  }

  90%{
    background-color: rgb(97, 30, 135);
  }

  to{
    top: 1vh;
  }
}

h3.linkedin{
  margin: auto;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  margin-top: 16vh;
  color: rgb(80, 173, 245);
  font-size: 2em;
  background-color: inherit;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

h3.linkedin:hover{
  color: rgb(107, 190, 254);
  /*hacer que su sombra sea mas grande*/
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

h3.correo{
  margin: auto;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  margin-top: 30vh;
  color: rgb(237, 127, 30);
  font-size: 1.1em;
  margin-top: 32vh;
  background-color: inherit;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

h3.correo:hover{
  color: rgb(255, 153, 65);
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

h3.github{
  margin: auto;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  margin-top: 2vh;
  color: rgb(197, 193, 193);
  font-size: 2em;
  background-color: inherit;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

h3.github:hover{
  color: rgb(225, 225, 225);
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.container-boton {
  margin-top: 30vh;
  margin-left: 3vw;
  right: 0;
  border: none;
  border-radius: 5px;
  padding: 1em;
  font-size: 0.8em;
  cursor: pointer;
}

.container-boton-home {
  margin-top: 45vh;
  margin-left: 3vw;
  right: 0;
  border: none;
  border-radius: 5px;
  padding: 1em;
  font-size: 0.8em;
  cursor: pointer;
  width: 90px;
}

button.boton-home{
  border: none;
  border-radius: 5px;
  padding: 1em;
  font-size: 1.5em;
  cursor: pointer;
}

button.boton-home:hover{
  background-color:rgb(214, 217, 219);
  color: rgb(92, 0, 142);
}

/*-------------INICIO MAS INFO-------------*/

.informacion-container{
  background-color: rgb(137, 67, 178);
  animation-name: DerIzq;
  animation-duration: 1.5s;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  top: 0;
}

@keyframes DerIzq {
  from{
    left: 150vh;
  }
  to{
    left: 1vh;
  }
}

.skills-container {
  width: 95%;
  margin: auto;
}

.skills-elemento {
  display: grid;
}

h3.skills-titulo {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 2em;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

ul.skills-lista {
  list-style: none;
  padding: 0;
  text-align: center;
}

li.skills-item{
  margin-top: 1vh;
  margin-bottom: 1vh;
  font-size: 1.5em;
  color: rgb(255, 255, 255);
  background-color: rgb(97, 30, 135);
  border-radius: 5px;
  padding: 1em;
}

li.skills-item:hover{
  background-color: rgb(200, 191, 191);
  color: rgb(97, 30, 135);
  cursor: pointer;
  -webkit-box-shadow: 6px 6px 5px 0px rgb(84, 20, 121);
  -moz-box-shadow: 6px 6px 5px 0px rgb(84, 20, 121);
  box-shadow: 6px 6px 5px 0px rgb(84, 20, 121);
}

li.skills-item.dos:hover{
  background-color: rgb(36, 0, 50);
  color: rgb(97, 30, 135);
  cursor: pointer;
  -webkit-box-shadow: 6px 6px 5px 0px rgb(84, 20, 121);
  -moz-box-shadow: 6px 6px 5px 0px rgb(84, 20, 121);
  box-shadow: 6px 6px 5px 0px rgb(84, 20, 121);
}

div.boton-home{
  margin-top: -39vh;
}

button.aclaracion-boton{
  background-color: inherit;
  color: rgb(227, 224, 44);
  border: none;
  border-radius: 5px;
  padding: 1em;
  font-size: 1em;
  cursor: pointer;
}


/*-------------INICIO ACLARACIONES-------------*/

p.aclaraciones{
  color : rgb(209, 203, 99);
  font-size: 1.5em;
}